<h1>Author</h1>


<p>
    This Web Site has been created by Alonso Espasandín Hernán.
</p>

<img src="/images/avatar.jpeg" width="200" />

<hr />

<div>
    <img src="/images/logos/ditupm.gif" width="1%"/>
    <img src="/images/logos/UPM.jpg" width="1%"/>
    <img src="/images/logos/nodejs.png" width="1%"/>
    <img src="/images/logos/npm.png" width="1%"/>
    <img src="/images/logos/sequelize.png" width="1%"/>
    <img src="/images/logos/SQLite.png" width="1%"/>
    <img src="/images/logos/express.png" width="1%"/>
    <img src="/images/logos/cloudinary.png" width="1%"/>
    <img src="/images/logos/heroku.png" width="1%"/>
    <img src="/images/logos/postgres.png" width="1%" />
</div>
